= form_for @wall do |f|
  - if @wall.errors.any?
    #error_explanation
      %h2= "#{pluralize(@wall.errors.count, "error")} prohibited this wall from being saved:"
      %ul
        - @wall.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user
    = f.text_field :user
  .actions
    = f.submit 'Save'
